body {
    background-image: url("../images/full-bloom-bkgrnd.png");
}


header {
    position: fixed;
    background: #ffffff;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom-style: solid;
    border-color: #dddddd;
    border-width: 1px;

    
}

.name {
    position: absolute;
    background: #4aaaa5;
    width: 375px;
    height: 80px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    left: 340px;
    top: -20px;


}

h6 {
    position: absolute;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #ffffff;
    right: 330px;
    top: -20px;
   
}

a {
    color: #777777;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

h3 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.wrapper {
    background: #ffffff;
    width: 960px;
    margin: 0 auto 0 auto;
    margin-top: 150px;
    padding: 20px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
}

img {
    float: left;
    padding: 20px;
    width: 200px; 
    height: 200px;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 20px;

}

footer {
    background: #666666;
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    border-width: 4px;
    border-color: #4aaaa5;

}

